mixin mod-aasya-oldage-home()
    .section-container.section-container--fixed
        .event__container
            .event__wrapper
                h2.event__heading.wow.fadeInDown Aasya Oldage Home
                p.event__desc.wow.fadeInUp "No love is greater than mother's love, No care is greater than father's care".
                p.event__desc.wow.fadeInUp In this domain of infinite emotions, Two irreplaceable emotion's are mother's love and father's care. We cannot payback for their love and care throughout our span of life. Simply,They are beyond the bounds of possibility.
                p.event__desc.wow.fadeInUp Love of our grandparents is remembered not in their wrinkles but in the laughter and tears of their children and their children's children. For them Growing old is compulsory, growing up is optional.  For us caring them is responsibility, loving them is competence.
                .event__image__wrapper
                    .event__image.event__image--1.wow.zoomIn
                    .event__image.event__image--2.wow.zoomIn
                p.event__desc.wow.fadeInUp But, Now People who introduced us to this world are awaiting for shelter,isn't it pathetic?
                p.event__desc.wow.fadeInUp 
                    storng "Every Women is a Mother, Every Men is a Father". 
                    | aren't they?
                p.event__desc.wow.fadeInUp 
                    strong "Its one of the hardest things you'll will do but in exchange it teaches you the meaning of unconditional love"
                p.event__desc.wow.fadeInUp The depth of the love of the parents for this children cannot be measured. It needs concern for life itself. The love of parent for a child is continuous and transcends their heartbreak and disappointment.
                .event__image__wrapper
                    .event__image.event__image--3.wow.zoomIn
                    .event__image.event__image--4.wow.zoomIn
                p.event__desc.wow.fadeInUp
                    strong "A fathers goodness is higher than the mountain, a mothers goodness is deeper than the see".
                p.event__desc.wow.fadeInUp While some children feel unprivileged and crave to see their parents while others never recognize the important of their parents. we want to give them little love and concern. So, Aasya Foundation has taken a initiative and started planning towards Aasya Oldage Home. We want to give them some cherished moments and enlightness joy and happiness for their peaceful souls.
                .event__image__wrapper
                    .event__image.event__image--5.wow.zoomIn
                    .event__image.event__image--6.wow.zoomIn
                p.event__desc.wow.fadeInUp We cannot return give back their love and care, yes it is true..!! But we can together build a beautiful home for those estranged parents to adieu their final days with happines. Let us together build up brick by brick to strengthen the foundation for Old-age home.
                p.event__desc.wow.fadeInUp To care for those who once cared for us is happiness altogether. We shall together 
                    storng BE A PART OF AASYA OLD AGE HOME CONSTRUCTION AT HYDERABAD. A BEAUTIFUL PLACE FOR GRANDMOTHER'S AND GRANDFATHERS.