mixin mod-invest-snapshot()
    .section-container.section-container--fluid.bg--black.has--no-padding
        .invest-snapshot--container
            .invest-snapshot--overlay
            .invest-snapshot--wrapper
                h2.invest-snapshot--heading You Invested, We Scaled
                .invest-snapshot--action-container
                    button(type="submit").af-btn.af-btn--default Annual Report