mixin mod-longterm-plan()
    // START: Module - Long term Plan
    .section-container.section-container--fluid
        .plan__container
            h2.plan__heading Long Term Strategic Plan
            .plan__wrapper
                .plan__desc__heading(class="wow fadeInUp") Kids 500
                .plan__desc__info(class="wow fadeInUp") "A cure for childhood cancer is our rainbow of hope".
                .plan__desc__info(class="wow fadeInUp") Cancer is not just a single disease but collection of life-threatening diseases.cancerous cells will fight together against our immune system to kill our antibodies. Every day nearly 26 children are diagnosing with cancer, Childhood is the most important phase in our life and it is unbearable to see many children fighting with cancer at this tender age.Would it hurt if we care and support each other in fighting those cancerous cells?
                .plan__desc__info(class="wow fadeInUp") Let us support each other and standby those innocent kids who are going through excruciating pain everyday in their life.Let us lend our hand to those who are going through this horrendous journey fighting those malignant tumors. It is unbearable to see a child's life fades in a blink of an eye.
                .plan__desc__info(class="wow fadeInUp") Kid's aren't  meant to have cancer,they are supposed to have future , right?
                .plan__desc__info(class="wow fadeInUp") There is no medicine like hope, no incentive so great, and no tonic so powerful as expectation of something tomorrow.When a kid is fighting with cancer,we shall built in hope,that  they are not alone,They need to know that there is a team  fighting with them and for them.
                .plan__desc__info(class="wow fadeInUp") We at aasya have been helping kids with cancer and are appealing everyone to join hands with us. We aim to help as many as possible and our first mission is to support 500 children through those agonizing journey.
                .plan__desc__info(class="wow fadeInUp") BE A PART OF OUR MISSION "KIDS 500". LET US TOGETHER HOPE FOR WORLD, WHERE CANCER IS JUST A ZODIAC SIGN.
                //- .plan__desc__heading(class="wow fadeInUp") Mission 500
                //- .plan__desc__info(class="wow fadeInUp") To Save 500 cancer suffering children's within 5 years, conduct 500 health camps in rural areas of our country, conduct 500 cancer awareness programs at schools,colleges,Slums,Rural areas of our country
        span.mask.mask-bottom.bdr--grey--alpha
    // END: Module - Long term Plan