mixin mod-contact-hero-image()
    // START: Module - Contact Hero
    .section-container.section-container--fixed
        .contact__hero__image__wrapper.hidden-xs
            .contact__hero__image__border
        //- .hidden-xs
    // END: Module - Contact Hero