mixin mod-pillars()
    // START: Module Pillars
    .section-container.section-container--fluid.bg--white
        .pillars__container
            h2.pillars__heading Building Pillars
            // Founder Views
            .pillars__wrapper.bg--grey--alpha2
                .pillars__content
                    //- h3.pillars__content__heading Founder Views
                    p.pillars__content__desc &quot;whoever live for others will live forever!&quot; 
                    p.pillars__content__desc &quot;We all know that, humans are interdependent, the support of family , community and others are of much importance. From “ womb to the tomb ”we all rely on the help and services of others.&quot;
                    p.pillars__content__desc &quot;We came to you, this day with one goal to share our Love & care, which, we received from the people where we were working, among the poor, rural area; I am happy to say, we have been blessed with generous donors and a dedicated voulnteers, due to which our expectations have been surpassed.&quot;
                    p.pillars__content__desc &quot;As we grow from strength to strength, our story is becoming interesting and inspiring
                    p.pillars__tagline - Sreeram, Founder &amp; President
                .pillars__bgImage.pillars__bgImage--right
                    .pillars__bgImage__founder
                //- span.mask-bottom--angled.bdr--grey--alpha
            // VP Talks
            .pillars__wrapper.bg--grey--alpha3
                //- span.mask.mask-top--angled
                .pillars__bgImage.pillars__bgImage--left
                    .pillars__bgImage__vp
                .pillars__content
                    //- h3.pillars__content__heading Vice President Thoughts
                    p.pillars__content__desc &quot;It is a great privilege to work with Aasya. Aasya was introduced to me by a Cyclothon event which was organized in my college.&quot;
                    p.pillars__content__desc &quot;I strongly believe in quote which our great Mahatma Gandhi said "If we wish to create a lasting peace we must begin with the children ". So we started our journey with Udayasri, A nineteen month old girl, who was suffering with cancer. When everyone lost hope, we stood along her side and gave financial support, now she is completely cured. It is neither about treatment given to her nor our financial support. It was all about her battle, which she won against Cancer, heading towards her new life. When someone alone has got the capability to fight against such an evilest thing, together we can do miracles. This paved my way towards the future endeavors of Aasya.&quot;
                    p.pillars__content__desc &quot;With the same inspiration we started to expand Aasya Foundation in 2016 to celebrate the beauty of life and to ensure more children like Udayasri are given opportunities to live.&quot;
                    p.pillars__content__desc &quot;As progresive step, we are extending our branches in emerging global problems apart from cancer. I envision a world in which everyone can live healthy, productive lives, regardless of who they are (or) where they live.&quot;
                    p.pillars__content__desc &quot;Achieving this vision will require a strong effective Aasya that is able to meet emerging challenges and achieve our objectives. We need a Aasya  that is adequately resourced and effectively managed with a strong focus on transparency, accountability and value for money.&quot;
                    p.pillars__tagline - Madhukar B, Vice President
                //- span.mask.mask-bottom--angled.bdr--grey
    // END: Module Pillars