mixin mod-theme(color)
    //START: Mdule Theme
    .snapshot__card
        .snapshot__card__inner
        .snapshot__card__inner__top
            .snapshot__card__inner__image  
        .snapshot__card__inner__bottom(class="snapshot__card__inner__bottom--" + color)
            p.snapshot__card__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .snapshot__card__action-items
            input(type="submit" value="Read More" class="af-btn")
    //END: Module Theme