mixin mod-partners()
    .section-container.section-container--fixed
        .partners--container
            .partners--items
                .partners--items--divider                
                .partners--items--left
                    h2.partners--items--heading College Partners
                    marquee(behavior="", direction="")
                        .partners--items--image--wrapper
                            a(href="javascript:void(0)"): img(src="../assets/images/snist.png", alt="").partners--items--image
                        .partners--items--image--wrapper
                            a(href="javascript:void(0)"): img(src="../assets/images/vishnu.png", alt="").partners--items--image
                        .partners--items--image--wrapper
                            a(href="javascript:void(0)"): img(src="../assets/images/gcet.png", alt="").partners--items--image
                        .partners--items--image--wrapper
                            a(href="javascript:void(0)"): img(src="../assets/images/mrgi.png", alt="").partners--items--image
                .partners--items--right
                    h2.partners--items--heading Sponsors
                    marquee(behavior="", direction="")
                        .partners--items--image--wrapper
                            a(href="javascript:void(0)"): img(src="../assets/images/omni.jpg", alt="").partners--items--image
                        .partners--items--image--wrapper
                            a(href="javascript:void(0)"): img(src="../assets/images/omni.jpg", alt="").partners--items--image
                        .partners--items--image--wrapper
                            a(href="javascript:void(0)"): img(src="../assets/images/omni.jpg", alt="").partners--items--image
                