mixin mod-refund-policy()
    .section-container.section-container--fixed
        .pp__container
            .pp__wrapper
                h2.pp__heading Refund and Cancellation Policy
                p.pp__desc In case of Cancellation of the donations from user end, user/donor is expected to make a formal request via email with his transaction details within 2 days of the transaction. The system will initiate the cancellation once approved from admin within 10 days of request and amount will be refunded via same channel to the bank account/credit card from which donation was made in about 20 business days.
                p.pp__desc If there are any charges from the Bank towards the cancellation, that amount will be deducted and user will be clarified about it.
                p.pp__desc In case of any Failed transactions or technical failures/maintenance downtime or Fraud payments or any other similar issues which are purely technical, The deducted amount (if any) will be refunded to the sender’s account via same channel (Bank Acc or Credit Card) within about 15 business days after submitting the transaction details.