mixin mod-themes()
    // START: Module Themes
    .section-container.section-container--fluid.bg--white
        .snapshot__container
            .snapshot__wrapper
                +mod-theme('blue')
                +mod-theme('green')
                +mod-theme('lightblue')
            .snapshot__wrapper
                +mod-theme('blue')
                +mod-theme('green')
    // END: Module Themes