mixin mod-social-icons-sticky()
    .section-container--fixed
        .social-icons--container--fixed
            ul.social-icons--list
                a.social-icons--list--item(target="_blank" href="https://www.instagram.com/Aasyafoundation" title="Instagram" ): li.icon-instagram &nbsp;&nbsp;&nbsp;&nbsp;Follow us on Instagram
                a.social-icons--list--item(target="_blank" href="https://www.facebook.com/Aasyafoundation" title="Facebook" ): li.icon-facebook &nbsp;&nbsp;&nbsp;&nbsp;Follow us on Facebook
                a.social-icons--list--item(target="_blank" href="https://www.youtube.com/channel/UCT-L00Au3qEYMngNLI0NyLw" title="Youtube" ): li.icon-youtube &nbsp;&nbsp;&nbsp;&nbsp;Follow us on Youtube
                a.social-icons--list--item(target="_blank" href="https://www.twitter.com/Aasyafoundation" title="Twitter" ): li.icon-twitter &nbsp;&nbsp;&nbsp;&nbsp;Follow us on Twitter
                a.social-icons--list--item(target="_blank" href="https://plus.google.com/107876489911510608392" title="Google plus" ): li.icon-google-plus &nbsp;&nbsp;&nbsp;&nbsp;Follow us on Google+