mixin mod-about-hero()
    //START: About us - Hero
    .section-container.section-container--fixed
        .content__wrapper
            // About us Hero Decorative lines - Right Top
            .content--line.content--line--top--right.hr--line.hidden-xs
            .content--line.content--line--top--right.vr--line.hidden-xs
            .content--line.content--line--top--right.hr--line--second.hidden-xs
            .content--line.content--line--top--right.vr--line--second.hidden-xs
            .content--line.content--line--top--right.hr--line--third.hidden-xs
            .content--line.content--line--top--right.vr--line--third.hidden-xs
            // About us Hero Decorative lines - Left Bottom
            .content--line.content--line--bottom--left.hr--line.hidden-xs
            .content--line.content--line--bottom--left.vr--line.hidden-xs
            .content--line.content--line--bottom--left.hr--line--second.hidden-xs
            .content--line.content--line--bottom--left.vr--line--second.hidden-xs
            .content--line.content--line--bottom--left.hr--line--third.hidden-xs
            .content--line.content--line--bottom--left.vr--line--third.hidden-xs
            .content--section
                .content--section--desc.align--middle
                    .content--section--desc--image-wrapper
                .content--section--desc.align--middle
                    h2.content--section--desc--heading Who We Are
                    p.content--section--desc--info Aasya Foundation (Regd:267/2018) is a student-Body-run nonprofit organization. Aasya foundation as a platform will enable over 1000 volunteers in 13 cities across India.
                    p.content--section--desc--info Experience together with energy always leads to success. Our team is formed with experienced board members together with energetic volunteers. We the TEAM of Aasya foundation are stronger as a team. We embrace our differences and we together work for causes like Health, education and environment.
                    p.content--section--desc--info The best way to treat disease is to cure it in its roots. Wouldn’t we all want that? But what if it's too late and couldn't get diagnosed in early stages? This question raised us to the idea of our motto "CURE IS IN CARE".
                        //- strong &nbsp;"CURE IS IN CARE"&nbsp;
                        | We believe that "When care is our first concern, cure can be received as a gift".
                    p.content--section--desc--info We are strongly committed to educate people in order to instill integrity and leadership qualities in individuals to promote a safe and ethical environment.
            .content--section(class="wow fadeInUp")
                .content--section--desc              
                    h2.content--section--desc--heading Mission
                    p.content--section--desc--info To Save 500 cancer suffering children's within 10 years. To conduct 500 health camps in rural areas of our country. To conduct 500 cancer awareness programs at schools, colleges, Slums, Rural areas of our country.
                    p.content--section--desc--info Conducting "ANANDHAAN"( feeding empty stomach 's ) programs In public and remote areas of our country.
                    p.content--section--desc--info To construct An old-age home in order to provide shelter for Old-age people.
                    p.content--section--desc--info Mission "MAHI" - To plant 1 crore of plants in our country in order to balance Environmental Hazards.
                .content--section--desc
                    h2.content--section--desc--heading Vision
                    p.content--section--desc--info Aasya foundation envisions a future where no kid should be able to suffer through life terminal diseases like cancer.
                    p.content--section--desc--info No one should go through such arduous journeys alone. We aspire to be an outgrown organization dedicated in fighting social disparities. Our purpose is to improve the quality of people’s lives by empowering them about the bewildering intricacies of life.
                    p.content--section--desc--info We embrace the diversity of our team as we continue to grow and educate people about the difficulties of being able to cope up with life challenging diseases.
            //- .content__wrapper.no__margin-top    
            .content--section--desc.content--section--desc--fluid(class="wow fadeInUp")
                h2.content--section--desc--heading What We Do
                p.content--section--desc--info The idea behind Aasya is to help poverty-stricken people who are fighting with life challenging diseases by providing necessary financial support and stand by them emotionally.
                p.content--section--desc--info We connect to the people who care, with the causes that matter.
                p.content--section--desc--info We are committed lot in providing health care-services to the economically backward classes in India. We engage with all types problems related to health, education, character development, physically and mentally challenging survivors. After all, being able to care someone helps us to live a life worthwhile.
                p.content--section--desc--info Believing in what we do and what we wish is our main agenda in creating the hype in today’s scenario.
        //- span.mask.mask-bottom
    //END: About us - Hero