mixin mod-html-head(title)
    //START: Head Module
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        title Aasya Foundation | #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet" href="../assets/css/bundle.css")
        meta(name="description" content="Cure is in Care")
        //- link(rel="canonical" href="http://aasyafoundation.org/")
        meta(property="og:locale" content="en_US")
        meta(property="og:type" content="website")
        meta(property="og:title" content="Aasya Foundation - Cure is in Care")
        meta(property="og:description" content="Aasya Foundation - Cure is in Care")
        //- meta(property="og:url" content="http://aasyafoundation.org/")
        meta(property="og:site_name" content="Aasya Foundation")
        meta(name="twitter:card" content="summary")
        meta(name="twitter:description" content="Aasya Foundation - Cure is in Care")
        meta(name="twitter:title" content="Aasya Foundation - Cure is in Care")
    //END: Head Module