mixin mod-events-content()
    .section-container.section-container--fixed.padding-top
        .event__content__wrapper
            h3.event__content__heading Stride Against Cancer
            p.event__content__tagline &quot;SAVE A CHILD,SAVE A LIFE&quot;
            p.event__content__desc Every year nearly 5,75,000 people die of cancer,and more than 1.5 million people are diagnosing with these life altering disease. Pathetic news is among them 10,270  children, who are leaving their lives due to cancer. Every day 26 children are diagnosing with cancer. Childhood is the most important phase in our life and it is unbearable to see many children fighting with cancer at this tender age.
            .event__image.event__image--fluid.event__image--t1
            p.event__content__desc &quot;The easiest time to cure an illness is before it is accepted as a part the Self-Image&quot;
            p.event__content__desc Kid's aren't  meant to have cancer,they are supposed to have future , right? Keeping this as our main motto:
            br
            | we, the team of aasya foundation, is coming up with  cancer walkathon "Stride Against Cancer"- A fund raising event to provide basic medical expenses to the kids who are fighting with cancer.
            .event__image.event__image--fluid.event__image--t2
            p.event__content__desc Let us foothold each other and standby those innocent kids who are going through unendurable pain everyday in their life.Let us lay on  our hand to those who are going through this horrendous journey fighting those malignant tumors. It is unbearable to see a child's life evanescant in breadth of our sight.
            p.event__content__desc Let us lit up the little faces of those who fights the fight no one ever should.
            .event__image.event__image--fluid.event__image--t3
            p.event__content__desc Join us in our Walkathon -
                strong &quot;STRIDE-AGAINST-CANCER&quot;
            .event__details
                .event__location 
                    a(href="https://www.google.co.in/maps/dir/Jalavihar+Water+Park,+22%2F9,+Necklace+Rd,+Hussain+Sagar,+Khairatabad,+Hyderabad,+Telangana+500063/''/@17.4330066,78.4296483,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3bcb90addf85ec95:0x5d452de82c23ebb3!2m2!1d78.464668!2d17.4329278!1m5!1m1!1s0x3bcb90addf85ec95:0x5d452de82c23ebb3!2m2!1d78.464668!2d17.4329278" target="_blank") 
                        span.icon-location Jalavihar
                .event__date
                    span.icon-calendar 15th July 2018
                .event__time
                    span.icon-clock 6 AM onwards
            h4.event__content__heading--secondary Let us built a hope for cancer survivors..!!
            h4.event__content__heading--secondary Let us also hope for a world,where cancer is just a zodiac sign..!!
        