mixin mod-homepage-hero()
    .section-container.section-container--fluid.has--no-padding
        .hero-container.swiper-container
            .swiper-wrapper
                .hero-slide.swiper-slide.slide-4
                    .hero-slide--overlay
                    .section-container.section-container--fixed
                        .swiper-slide--content--wrapper(hidden1)
                            .swiper-slide--content--inner
                                h2.swiper-slide--heading &quot;Don't leave those sufferings behind.. 
                                    br
                                    | Be a part of Aasya cancer walkathon...&quot;
                                    .swiper-slide--heading--attach
                                //- .swiper-slide--desc Be a part of aasya Stride Against the Cancer to Save children from Cancer
                                //- .swiper-slide--action--items
                                //-     a(href="aasya-oldage-home.html").af-btn.af-btn--white-border Read More
                .hero-slide.swiper-slide.slide-3
                    .hero-slide--overlay
                    .section-container.section-container--fixed
                        .swiper-slide--content--wrapper(hidden1)
                            .swiper-slide--content--inner
                                h2.swiper-slide--heading &quot;Let us together build up brick by brick to strengthen the foundation for Old age home. 
                                    br 
                                    | Be a part of Aasya oldage home construction...&quot;
                                    .swiper-slide--heading--attach
                                //- .swiper-slide--desc Be a part of aasya Stride Against the Cancer to Save children from Cancer
                                //- .swiper-slide--action--items
                                //-     button(type="submit").af-btn.af-btn--white-border Read More
                .hero-slide.swiper-slide.slide-2
                    .hero-slide--overlay
                    .section-container.section-container--fixed
                        .swiper-slide--content--wrapper(hidden1)
                            .swiper-slide--content--inner
                                h2.swiper-slide--heading &quot;Together, let us hope for world, where cancer is just a Zodiac sign...&quot;
                                    .swiper-slide--heading--attach
                                //- .swiper-slide--desc Be a part of aasya old age home construction Home for old age people's at  hyderabad. A place for beautiful grandmothers and grandfathers
                                //- .swiper-slide--action--items
                                //-     button(type="submit").af-btn.af-btn--white-border Read More
                .hero-slide.swiper-slide.slide-1
                    .hero-slide--overlay
                    .section-container.section-container--fixed
                        .swiper-slide--content--wrapper(hidden1)
                            .swiper-slide--content--inner
                                h2.swiper-slide--heading &quot;When care is our first concern, cure can be received as gift...&quot;
                                    .swiper-slide--heading--attach
                                //- .swiper-slide--desc Be a part of aasya Stride Against the Cancer to Save children from Cancer
                                //- .swiper-slide--action--items
                                //-     button(type="submit").af-btn.af-btn--white-border Read More
            //- .swiper-button-prev
            //- .swiper-button-next
            //- .swiper-pagination