mixin mod-terms-and-conditions()
    .section-container.section-container--fixed
        .pp__container
            .pp__wrapper
                h2.pp__heading Terms &amp; Conditions
                p.pp__desc This page and any pages it links to explains Aasya Foundation’s terms of use. You must agree to these to use aasyafoundation.org
                h4.pp__heading__secondary Who we are
                p.pp__desc Aasya Foundation is an Non-governmental organization (NGO) which and is non-profit. Aasya Foundation is based in India and will be referred to as ‘we’ from now on.
                h4.pp__heading__secondary Using aasyafoundation.org
                p.pp__desc You agree to use aasyafoundation.org only for lawful purposes. You must also use it in a way that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, this site by anyone else.
                p.pp__desc We update aasyafoundation.org all the time. We can change or remove content at any time without notice.

                h4.pp__heading__secondary Linking to aasyafoundation.org
                p.pp__desc We welcome and encourage other websites to link to aasyafoundation.org.
                p.pp__desc You must contact us for permission if you want to either:
                ul.pp__list
                    li.pp__list__item Charge your website’s users to click on a link to any page on aasyafoundation.org
                    li.pp__list__item Say your website is associated with or endorsed by aasyafoundation.org or another government department or agency

                h4.pp__heading__secondary Linking from aasyafoundation.org
                p.pp__desc aasyafoundation.org links to websites that are managed by other government departments and agencies, service providers or other organisations. We do not have any control over the content on these websites.
                p.pp__desc We’re not responsible for:
                ul.pp__list
                    li.pp__list__item The protection of any information you give to these websites
                    li.pp__list__item Any loss or damage that may come from your use of these websites, or any other websites they link to
                p.pp__desc You agree to release us from any claims or disputes that may come from using these websites.
                p.pp__desc You should read all terms and conditions, privacy policies and end user licences that relate to these websites before you use them.
                
                h4.pp__heading__secondary Using aasyafoundation.org content
                p.pp__desc Most content on aasyafoundation.org is subject to copyright protection.
                p.pp__desc If any content is not subject to copyright protection, we’ll usually credit the author or copyright holder.
                p.pp__desc You can reproduce content published on aasyafoundation.org as long as you credit aasyafoundation.org or the particular author. Contact us if you want to reproduce any piece of content.
                p.pp__desc We make most of the content on aasyafoundation.org available through feeds for other websites and applications to use. The websites and applications that use our feeds are not our products, and they might use versions of our content that have been edited and stored for later use (‘cached’).
                p.pp__desc We do not give any guarantees, conditions or warranties about the accuracy or completeness of any content used by these products. We’re not liable for any loss or damage that may come from your use of these products.
                p.pp__desc The most up to date version of our content will always be on aasyafoundation.org

                h4.pp__heading__secondary Disclaimer
                p.pp__desc While we make every effort to keep aasyafoundation.org up to date, we do not provide any guarantees, conditions or warranties that the information will be:
                ul.pp__list
                    li.pp__list__item Current
                    li.pp__list__item Secure
                    li.pp__list__item Accure
                    li.pp__list__item Complete
                    li.pp__list__item Free from Bugs &amp; viruses
                p.pp__desc We do not publish advice on aasyafoundation.org. You should get professional or specialist advice before doing anything on the basis of the content.
                p.pp__desc We’re not liable for any loss or damage that may come from using aasyafoundation.org. This includes:
                ul.pp__list
                    li.pp__list__item Any direct, indirect or consequential losses
                    li.pp__list__item Any loss or damage caused by civil wrongs (‘tort’, including negligence), breach of contract or otherwise
                    li.pp__list__item The use of aasyafoundation.org and any websites that are linked to or from it
                    li.pp__list__item The inability to use aasyafoundation.org and any websites that are linked to or from it
                p.pp__desc This applies if the loss or damage was foreseeable, arose in the normal course of things or you advised us that it might happen.
                p.pp__desc This includes (but is not limited to) the loss of your:
                ul.pp__list
                    li.pp__list__item Income or revenue
                    li.pp__list__item Salary, benefits or other payments
                    li.pp__list__item Business
                    li.pp__list__item Profits or contracts
                    li.pp__list__item Opportunity
                    li.pp__list__item Anticipated savings
                    li.pp__list__item Data
                    li.pp__list__item Goodwill or reputation
                    li.pp__list__item Tangible property
                    li.pp__list__item Intangible property, including loss, corruption or damage to data or any computer system
                    li.pp__list__item Wasted management or office time

                h4.pp__heading__secondary Requests to remove content
                p.pp__desc You can ask for content to be removed from aasyafoundation.org. We’ll remove content:
                ul.pp__list
                    li.pp__list__item in order to comply with data protection legislation covering the rights and freedoms of individuals
                    li.pp__list__item if it breaches copyright laws, contains sensitive personal data or material that may be considered obscene or defamatory
                p.pp__desc Contact us to ask for content to be removed. You’ll need to send us the web address (URL) of the content and explain why you think it should be removed. We’ll reply to let you know whether we’ll remove it.
                p.pp__desc We remove content at our discretion in discussion with the department or agency responsible for it.

                h4.pp__heading__secondary Information about you and your visits to aasyafoundation.org
                p.pp__desc We collect information about you in accordance with our privacy policy and our cookie policy. By using aasyafoundation.org, you agree to us collecting this information and confirm that any data you provide is accurate.

                h4.pp__heading__secondary Virus protection
                p.pp__desc We make every effort to check and test aasyafoundation.org for viruses at every stage of production. You must make sure that the way you use aasyafoundation.org does not expose you to the risk of viruses, malicious computer code or other forms of interference which can damage your computer system.
                p.pp__desc We’re not responsible for any loss, disruption or damage to your data or computer system that might happen when you use aasyafoundation.org

                h4.pp__heading__secondary Viruses, Hacking and Other offences
                p.pp__desc When using aasyafoundation.org you must not introduce viruses, trojans, worms, logic bombs or any other material that’s malicious or technologically harmful.
                p.pp__desc When using aasyafoundation.org you must not introduce viruses, trojans, worms, logic bombs or any other material that’s malicious or technologically harmful.
                p.pp__desc You must not attack aasyafoundation.org in any way. This includes denial-of-service attacks.
                p.pp__desc We’ll report any attacks or attempts to gain unauthorised access to aasyafoundation.org to the relevant law enforcement authorities and share information about you with them.

                h4.pp__heading__secondary Governing law
                p.pp__desc These terms and conditions are governed by and construed in accordance with the laws of Republic Of India.
                p.pp__desc Any dispute you have which relates to these terms and conditions, or your use of aasyafoundation.org (whether it be contractual or non-contractual), will be subject to the exclusive jurisdiction of the courts of India.

                h4.pp__heading__secondary General
                p.pp__desc There may be legal notices elsewhere on aasyafoundation.org that relate to how you use the site.
                p.pp__desc We’re not liable if we fail to comply with these terms and conditions because of circumstances beyond our reasonable control.
                p.pp__desc We might decide not to exercise or enforce any right available to us under these terms and conditions. We can always decide to exercise or enforce that right at a later date.
                p.pp__desc Doing this once will not mean we automatically waive the right on any other occasion.
                p.pp__desc If any of these terms and conditions are held to be invalid, unenforceable or illegal for any reason, the remaining terms and conditions will still apply.

                h4.pp__heading__secondary Changes to these terms and conditions
                p.pp__desc Please check these terms and conditions regularly. We can update them at any time without notice.
                p.pp__desc You’ll agree to any changes if you continue to use aasyafoundation.org after the terms and conditions have been updated





