mixin mod-vol-speaks()
    .section-container.section-container--fluid.bg--black.has--no-padding
        .vol-speak--wrapper
            .vol-speak--overlay
            .section-container.section-container--fixed
                .vol-speak--items
                    //- .vol-speak--items--divider
                    a(href="volunteer-speaks.html" title="Volunteer's Speak"): .vol-speak--items--left
                        h2.vol-speak--items--heading Volunteer's Speak
                        //- p.vol-speak--items--desc I have wondered, more than once, for being a part in Aasya. Because, as it was a screen of many lives pictured together for building an ideal society. I used to think of being passionate about service, but now I am so grateful to work with people, whose passion is all about service. My experience in Aasya from past one year made me to be strong in and out, helped me to increase my dedication levels, team spirit, ethical values and leadership qualities. I used to fell myself for tiny problems. But, after going through the fades of many life shadows. I made myself strong enough to face any situation..!! If I could sum up my experience in Aasya, I would say that it was a   "life changing step of mine".
                        p.vol-speak--items--desc &quot;I have wondered, more than once, for being a part in Aasya. Because, as it was a screen of many lives pictured together for building an ideal society. I used to think of being passionate about service, but now I am so grateful to work with people, whose passion is all about service. My experience...&quot;
                        .vol-speak--items--desc--tag-line - Srinithya, Hyderabad
                    //- a(href="javascript:void(0)" title="Donor's Talk"): .vol-speak--items--right
                        h2.vol-speak--items--heading Donor's Talk
                        p.vol-speak--items--desc "Be a part of aasya old age home construction Home for old age people's at  hyderabad. A place for beautiful..."
                        .vol-speak--items--desc--tag-line - Aasya Donor, Residence