//- Common Modules
include mod-html-head
include mod-header
include mod-social-icons-sticky
include mod-footer
include mod-html-scripts
include mod-privacy-policy
include mod-refund-policy

//- Homepage Modules
include mod-homepage-hero
include mod-ask
include mod-projects-events
include mod-vol-speaks
include mod-invest-snapshot
include mod-generic-highlights
include mod-partners
include mod-count-me
include mod-aasya-oldage-home
include mod-aasya-oldage-home-banner
include mod-working

//- About Us Modules
include mod-about-hero
include mod-member-card
include mod-board-members
include mod-longterm-plans
include mod-pillars
include mod-themes
include mod-theme
include mod-brdmembers-popup
include mod-events-content

//- Contact Us Modules
include mod-contact-hero
include mod-contact-hero-image
include mod-contact-content

//- Registartion Form Modules
include mod-reg-form
include mod-terms-conditions

//- OTP Form Modules
include mod-otp-form

//- Blood requirement Form
include mod-blood-req-form

//- Event Proposal Form
include mod-event-proposal-form

//- New Case Form
include mod-new-case-form

//- Event Participation Form
include mod-event-reg-form
include mod-cost

//- Admin Portal
include mod-header-admin
include mod-admin-blocks

//- Login Page
include mod-login-form

//- Vol Speaks
include mod-vol-hero

include mod-terms-and-conditions

include mod-events

