$white: #ffffff;
$black: #000000;
// $theme: #3460ef;
$theme: #337ab7;

//Fonts
$font-regular:  UniversLTStd-Regular, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-light:    UniversLTStd-Light, $font-regular;
$font-medium:   Univers-Medium, $font-regular;
$font-bold:     UniversLTStd-Bold, $font-regular;
$font-serif:    Georgia, "Times New Roman";
$root-font-size: 16;