include ../view-modules/modules

doctype
html
    +mod-html-head("Aasya Oldage Home")
    body
        +mod-social-icons-sticky()
        +mod-header(navItems)
        +mod-aasya-oldage-home-banner(bannerImages)
        +mod-aasya-oldage-home()
        +mod-footer(footerItems)
        +mod-html-scripts()