include ../view-modules/modules

doctype
html
    +mod-html-head("Admin Portal | Login")
    body.bg--grey--alpha
        +mod-social-icons-sticky()
        //- +mod-header(navItems)
        +mod-login-form()
        //- +mod-footer(footerItems)
        +mod-html-scripts()