include ../view-modules/modules

doctype
html
    +mod-html-head("Events")
    body.bg--grey--alpha
        +mod-social-icons-sticky()
        +mod-header(navItems)
        +mod-working()
        +mod-footer(footerItems)
        +mod-html-scripts()