include ../view-modules/modules

doctype
html
    +mod-html-head("Event Participation | Walkathon 2k18")
    body.bg--grey--alpha
        +mod-social-icons-sticky()
        +mod-header(navItems, 4)
        +mod-event-reg-form()
        +mod-footer(footerItems)
        //- +mod-cost()
        +mod-html-scripts()