include ../view-modules/modules

doctype
html
    +mod-html-head("Privacy Policy")
    body.bg--grey--alpha
        +mod-social-icons-sticky()
        +mod-header(navItems, '')
        +mod-privacy-policy()
        +mod-footer(footerItems)
        +mod-html-scripts()