include ../view-modules/modules

doctype
html
    +mod-html-head("Registration Form")
    body.bg--grey--alpha
        +mod-social-icons-sticky()
        +mod-header(navItems)
        +mod-reg-form()
        +mod-footer(footerItems)
        +mod-terms-conditions(terms)
        +mod-html-scripts()