include ../view-modules/modules

doctype
html
    +mod-html-head("Volunteer Speaks")
    body
        +mod-social-icons-sticky()
        +mod-header(navItems)
        +mod-vol-hero(volSpeaks)
        +mod-footer(footerItems)
        +mod-html-scripts()